.banner{
  /* border: 2px solid red; */
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./../assets/images/background_banner.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: calc(var(--body-padding-left) + 10px);
  padding-right: calc(var(--body-padding-right) + 10px);
  text-align: center;
}

.banner_subtitle {
  margin-bottom: 10px;
  font-family: var(--body-font);
  font-size: var(--h4-font-size); 
}
.banner_description {
  margin-bottom: 20px;
}
.banner_button {
  margin-bottom: 10px;
}

@media only screen and (min-width: 650px) {
  .banner{
    /* border: 2px solid green; */
    width: 100%;
    height: 340px;
    background-image: url('./../assets/images/image_banner.jpg');
    justify-content: flex-start;
    text-align: left;
  }
  .banner_subtitle,
  .banner_description {
    width: 350px;
  }
  .banner_subtitle {
    font-size: var(--h3-font-size); 
  }
}
@media only screen and (min-width: 800px) {
  .banner{
    /* border: 2px solid green; */
    width: 100%;
    height: 360px;
  }
  .banner_subtitle,
  .banner_description {
    width: 400px;
  }
}
@media only screen and (min-width: 950px) {
  .banner{
    /* border: 2px solid blue; */
    width: 100%;
    height: 380px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner{
    width: 100%;
    height: 400px;
  }
}
@media only screen and (min-width: 1350px) {

}
.diagnotic{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}
.imperfection{
  display: flex;
  flex-direction: row;
  align-items: center ;
  text-align: left;
  width: 45%;
  margin: 5px;
}

.imperfection span{
  display: flex;
  align-items: center;
  margin-right: 6px;
}
.diagnostic_container .banner_description{
  margin-bottom: 15px;
}


.banner.diagnostic_container{
  height: 380px;
}

@media only screen and (min-width: 450px) {
  .banner.diagnostic_container{
    height: 350px;
  }
  .diagnotic{
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 650px) {
  .banner.diagnostic_container{
    justify-content: flex-end;
    text-align: right;
    background-image: url('./../assets/images/background_skincare.jpg');
  }
  .diagnostic_text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .diagnotic{
    width: 60%;
  }
}

@media only screen and (min-width: 800px) {
  .banner.diagnostic_container{
    height: 360px;
  }
  .diagnotic{
    width: 50%;
  }
}
@media only screen and (min-width: 950px) {
  .diagnostic_container .banner_description {
    width: 100%;
  }
}