.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_content {
  max-width: 100%;
}

.form_field{
  margin-bottom: 10px;
}

.form input ,
.form_field select{
  border: 1px solid var(--grey-500);
  width: 100%;
  padding: 10px 10px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  color: var(--grey-700);
}

.form input:focus,
.form_field select:focus {
  border: 1px solid var(--first-color); 
  outline: none;
}

.form_field_whatsapp{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.form_field_whatsapp span{
  margin-right: 5px;
  font-weight: 600;
  color: var(--grey-700);
}

.error{
  font-size: 13px;
  font-weight: 600;
  color: var(--third-color-hover);
  line-height: 1.1;
  margin-top: 2px;
}

.form_button{
  border: 1px solid var(--first-color);
  background-color: var(--first-color);
  padding: 8px 20px;
  font-size: 16px;
  color: var(--white-color);
  border-radius: var(--border-radius);
  margin-top: 8px;
  cursor: pointer;
  width: 100%;
}

.form_button:hover{
  border: 1px solid var(--first-color-hover);
  background-color: var(--first-color-hover);
}

.form .form_title{
  line-height: 1.1;
  color: var(--first-color);
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

@media only screen and (min-width: 650px) {
  .form_content {
    max-width: 300px;
  }  
}