.sections{
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sections h1{
  text-align: center;
  margin-bottom: 8px;
}

.instruction{
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  width: 300px;
}

.instruction img {
  width: 50px;
  margin-right: 5px;
}

.instructions{
  margin-bottom: 15px;
}

.benefit{
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 18px 14px 18px;
  border-radius: 10px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: var(--second-color-hover);
  margin-left: 10px;
  margin-right: 10px;
}

.benefit p {
  color: var(--white-color)
}

.benefits_title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-bottom: 6px;
}

.benefits_title p{
  font-size: 16px;
  display: flex;
  color: var(--white-color);
}

.benefits_title span {
  margin-top: 5px;
  margin-right: 5px;
}

@media only screen and (min-width: 650px) {
  .instruction{
    width: 45%;
    margin: 10px;
  }
  .instructions{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (min-width: 950px) {
  .instruction{
    width: 22%;
  }
  .instructions{
    width: 900px;
  }
  .benefits_title p{
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .instructions{
    width: 1000px;
  }
}
@media only screen and (min-width: 1350px) {

}